body {
    background-image: url("../images/concrete-texture.png");
}
.jumbotron {
    font-family: 'Walter Turncoat', cursive;
    background-color: #e1c387;
    border: solid;
}
.jumbotron {
    font-size: 20px;
}
.crystal-image {
    width: 150px;
    height: 150px;
}

.temple {
    position: relative;
    width: 400px;
    height: 400px;
    padding: 50px;
    margin: 10px;
}

.map {
    background-image: url("../images/map.jpg");
    background-repeat: no-repeat;
    background-size: 1100px;
    background-position-x: 20px;
}

.temple-2 {
    left: 230px;

}

.temple-4 {
    bottom: 150px;
}

.temple-3 {
    bottom: 90px;
    left: 60px;
}